<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="control-flow-statment">Control Flow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Attribute-dir">Attribute-dir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="rxjs-basic">Rxjs-Basic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signal-in-depth">Signal-in-Depth</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="rxjsex">rxjsex</a>
        </li>

      </ul>
      <form class="d-flex">
        <select name="" id="" (change)="onRoleChange($event)">
          <option value="Guest">Guest</option>
          <option value="Admin">Admin</option>
          <option value="SuperAdmin">Super Admin</option>
        </select>

        <button type="button" (click)="onDecremtn()">--</button>

        <span class="text-white">{{counter}}</span>

        <button type="button" (click)="onIncrement()">++</button>


        @if (loggedUserName == '') {
        <button class="btn btn-primary" routerLink="login" type="button">Login</button>
        } @else {
        <button class="btn btn-warning" type="button">{{loggedUserName}}</button>
        <button class="btn btn-primary" (click)="onLogOfff()" type="button">Logoff</button>
        }


      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>