 <div class="login-container">
    <div class="login-card">
      <h3 class="text-center mb-4">Login</h3>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email or Username</label>
          <input type="text" [(ngModel)]="loginObj.userName" name="userName" class="form-control" id="email" placeholder="Enter email or username" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" [(ngModel)]="loginObj.password" name="password" class="form-control" id="password" placeholder="Enter password" required />
        </div>
        
        <div class="d-grid">
          <button type="button" class="btn btn-primary" (click)="onLogin()">Login</button>
        </div>
        <p class="text-center mt-3 mb-0 small">Don't have an account? <a href="#">Sign up</a></p>
      </form>
    </div>
  </div>