<div class="row">
  <div class="col-3">
    {{productName}} -- {{productPrice()}}
  </div>
  <div class="col-3">
    <input type="text" [value]="productName">
  </div>
    <div class="col-3">
    <input type="text" [value]="productPrice()">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-3">
    <button (click)="ChnageProduct()">Change Product</button>
  </div>
   <div class="col-3">
    <button (click)="chnageTitkle()">Change Title</button>
  </div>

</div>
<hr>
 <app-alert [alertTitle]="myAlertTitle"> </app-alert>  
<hr>
<hr>
{{userList.length}}

<div class="myPrimarySquare">
  Div 1
</div>